@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--Home page-->

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
   
</div>

<div class="text-center">
    <img src="~/img/Joel.jpg" />
</div>
