@{
    ViewData["Title"] = "My Podcasts";
}
<!--Page contains the link to the podcast-->
<div class="text-center">
    <h1 href="">My Movie Podcast</h1>
</div>

<div class="text-center">
    <a href="https://baconsale.com/">Visit My Podcast!</a>
</div>